body {
    margin: 0;
    padding: 0;
  }
  
  .navbar-container {
    width: 100%;
    position:fixed;
    z-index: 99999;
    top:0;
    left:0;
    background-color: #71dde3;
    /* Asegura que el contenedor ocupe todo el ancho de la pantalla */
  }
  
  .navbar {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
  }
  
  .nav-item:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  