.details-container {
  position: fixed;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.image-container {
  flex: 0 0 auto;
  max-width: 300px;
  margin-right: 20px;
}

.details-info {
  flex: 1 1 calc(100% - 320px);
}

img {
  width: 200px;
  height: auto;
  max-width: 200px;
  display: block;
}


@media (max-width: 767px) {
  .details-container {
    padding: 10px; 
    max-width: 100px;
  }

  .image-container {
    max-width: 100px; 
    margin-right: 0; 
    margin-bottom: 10px; 
  }

  .details-info {
    flex: 1 1 100px;  
  }
}
