.place-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height:200px ;
    margin-top: 4 auto;
    text-align: center;
  }
  
  .place-card img {
    max-width: 100%;
    height: 50%;
  }

  
  .search-container {
    margin-top: 20px;
  }
  
  .search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }