.search-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .search-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    width: 200px;
  }
  
  .search-container button {
    padding: 10px;
    background-color: #99e5f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .search-container button:hover {
    background-color: #5fa8f6a5;
  }
  
