/* Parallax.css */
.parallax-container {
    position: relative;
    overflow: hidden;
    height: 200px; /* Ajusta la altura según tus necesidades */
  }
  
  .parallax-bg {
    background: url("../../public/image/logo.png") center/cover no-repeat fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff; /* Ajusta el color del texto según tus necesidades */
    text-align: center;
    transition: transform 0.2s ease-out;
  }
  
  /* Otros estilos según tus necesidades */
  