@import 'variables';

.container-home {
  padding: $container-padding;
  text-align: center;
  margin-top: $container-margin-top;
}

.home-search {
  height: $home-search-height;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    height: $home-search-p-height;
  }
}
